In [1]:
import pandas as pd
import numpy as np

### An incredibly useful function, apply

In [18]:
names = ['id', 'title', 'year', 'score', 'votes', 'length', 'genres']
data = pd.read_csv('data/imdb_top_10000.txt', sep='\t', names=names, index_col=0)

In [3]:
data['score'].apply(lambda x: x*10).head()

id
tt0111161    92.0
tt0110912    90.0
tt0137523    88.0
tt0133093    87.0
tt1375666    89.0
Name: score, dtype: float64

In [4]:
data.head()

,title,year,score,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
title     10000 non-null object
year      10000 non-null int64
score     10000 non-null float64
votes     10000 non-null int64
length    10000 non-null object
genres    9999 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.9+ KB

In [12]:
data['length'].unique()

array(['142 mins.', '154 mins.', '139 mins.', '136 mins.', '148 mins.',
       '122 mins.', '162 mins.', '195 mins.', '124 mins.', '140 mins.',
       '106 mins.', '118 mins.', '194 mins.', '177 mins.', '107 mins.',
       '111 mins.', '146 mins.', '117 mins.', '130 mins.', '99 mins.',
       '110 mins.', '189 mins.', '153 mins.', '98 mins.', '152 mins.',
       '175 mins.', '178 mins.', '201 mins.', '179 mins.', '121 mins.',
       '127 mins.', '155 mins.', '113 mins.', '169 mins.', '151 mins.',
       '200 mins.', '143 mins.', '137 mins.', '115 mins.', '132 mins.',
       '119 mins.', '108 mins.', '133 mins.', '116 mins.', '134 mins.',
       '144 mins.', '120 mins.', '131 mins.', '104 mins.', '100 mins.',
       '112 mins.', '129 mins.', '80 mins.', '138 mins.', '00 mins.',
       '90 mins.', '101 mins.', '91 mins.', '89 mins.', '102 mins.',
       '126 mins.', '161 mins.', '103 mins.', '109 mins.', '141 mins.',
       '170 mins.', '94 mins.', '95 mins.', '96 mins.', '145 mins.',
       '166 mins.', '150 mins.', '85 mins.', '135 mins.', '128 mins.',
       '125 mins.', '158 mins.', '163 mins.', '187 mins.', '92 mins.',
       '84 mins.', '188 mins.', '87 mins.', '157 mins.', '93 mins.',
       '149 mins.', '167 mins.', '105 mins.', '147 mins.', '160 mins.',
       '183 mins.', '207 mins.', '88 mins.', '123 mins.', '159 mins.',
       '81 mins.', '182 mins.', '156 mins.', '164 mins.', '165 mins.',
       '76 mins.', '191 mins.', '216 mins.', '114 mins.', '82 mins.',
       '229 mins.', '97 mins.', '181 mins.', '86 mins.', '172 mins.',
       '77 mins.', '212 mins.', '174 mins.', '83 mins.', '78 mins.',
       '184 mins.', '79 mins.', '197 mins.', '193 mins.', '202 mins.',
       '75 mins.', '74 mins.', '220 mins.', '180 mins.', '69 mins.',
       '242 mins.', '186 mins.', '192 mins.', '224 mins.', '171 mins.',
       '261 mins.', '71 mins.', '73 mins.', '210 mins.', '219 mins.',
       '67 mins.', '173 mins.', '185 mins.', '70 mins.', '48 mins.',
       '68 mins.', '213 mins.', '65 mins.', '72 mins.', '168 mins.',
       '208 mins.', '61 mins.', '47 mins.', '176 mins.', '54 mins.',
       '427 mins.', '45 mins.', '450 mins.', '236 mins.', '206 mins.',
       '50 mins.', '66 mins.', '237 mins.', '62 mins.', '235 mins.',
       '217 mins.', '205 mins.'], dtype=object)

In [9]:
data['genres'].unique()[:70]

array(['Crime|Drama', 'Crime|Thriller', 'Drama|Mystery|Thriller',
       'Action|Adventure|Sci-Fi', 'Action|Adventure|Sci-Fi|Thriller',
       'Comedy|Drama|Romance', 'Drama', 'Action|Adventure|Fantasy|Sci-Fi',
       'Biography|Drama|History|War', 'Action|Adventure|Family|Sci-Fi',
       'Action|Crime|Drama|Thriller', 'Crime|Mystery|Thriller',
       'Adventure|Drama|History|Romance',
       'Action|Biography|Drama|History|War', 'Action|Crime|Thriller',
       'Biography|Crime|Drama|Thriller', 'Action|Fantasy|History|War',
       'Crime|Drama|Thriller', 'Crime|Drama|Fantasy|Mystery',
       'Adventure|Drama|War', 'Animation|Adventure|Family|Romance|Sci-Fi',
       'Action|Adventure|Drama|Fantasy',
       'Action|Adventure|Family|Fantasy|Sci-Fi',
       'Crime|Drama|Mystery|Thriller', 'Action|Adventure|Drama',
       'Action|Drama|History|War', 'Action|Adventure|Fantasy',
       'Action|Sci-Fi|Thriller', 'Action|Adventure',
       'Drama|Romance|Sci-Fi', 'Drama|Mystery|Sci-Fi',
       'Adventure|Family|Sci-Fi', 'Crime|Drama|Sci-Fi',
       'Crime|Drama|Romance|Thriller', 'Comedy|Fantasy|Romance',
       'Action|Thriller', 'Action|Sci-Fi', 'Drama|Sci-Fi|Thriller',
       'Animation|Adventure|Comedy|Family', 'Action|Drama|Sci-Fi|Thriller',
       'Mystery|Sci-Fi|Thriller',
       'Animation|Action|Adventure|Family|Fantasy',
       'Animation|Adventure|Comedy|Family|Fantasy',
       'Drama|Fantasy|Mystery', 'Comedy|Crime', 'Drama|War',
       'Adventure|Comedy',
       'Animation|Adventure|Comedy|Drama|Family|Musical',
       'Drama|Horror|Mystery', 'Horror|Sci-Fi', 'Western',
       'Comedy|Drama|Sci-Fi', 'Drama|Thriller',
       'Adventure|Drama|Sci-Fi|Thriller', 'Adventure|Mystery|Sci-Fi',
       'Comedy|Drama', 'Drama|Fantasy|Mystery|Romance',
       'Animation|Comedy|Family|Fantasy', 'Biography|Drama|War',
       'Thriller', 'Action|Drama|Fantasy|Thriller',
       'Adventure|Family|Fantasy|Mystery',
       'Action|Drama|Mystery|Sci-Fi|Thriller', 'Comedy',
       'Horror|Mystery|Sci-Fi', 'Biography|Drama', 'Action|Comedy|Mystery',
       'Action|Crime|Mystery|Thriller', 'Drama|Sport',
       'Adventure|Comedy|Drama'], dtype=object)

### Cleaning up our dataset

Split into groups of 2-3 and discuss how would you approach cleaning:

- the title column to remove the year in parentheses since it's redundant
- the length column to remove mins.
- splitting up the genres column (this one is hard) into a column for each genre with True if the movie is that particular genre and False otherwise

Hint: when ideating as a group, it's helpful to use "pseudocode"

Once you're satisfied as a group, implement the ideas individually!

#### Note: if you're stuck, ask me for hints!

In [19]:
data['title'] = data['title'].apply(lambda x: x[:-7])
data.head()

,title,year,score,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption,1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction,1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club,1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix,1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception,2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

In [23]:
data['length'] = data['length'].apply(lambda x: int(x))
data.head()

,title,year,score,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption,1994,9.2,619479,142,Crime|Drama
tt0110912,Pulp Fiction,1994,9.0,490065,154,Crime|Thriller
tt0137523,Fight Club,1999,8.8,458173,139,Drama|Mystery|Thriller
tt0133093,The Matrix,1999,8.7,448114,136,Action|Adventure|Sci-Fi
tt1375666,Inception,2010,8.9,385149,148,Action|Adventure|Sci-Fi|Thriller

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
title     10000 non-null object
year      10000 non-null int64
score     10000 non-null float64
votes     10000 non-null int64
length    10000 non-null int64
genres    9999 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 546.9+ KB

In [27]:
genres = data['genres'].str.split('|')

In [42]:
sum(list(genres.values))

TypeError: unsupported operand type(s) for +: 'int' and 'list'