# I/O with Pandas

Pandas provides a one-stop shop for importing lots of filetypes into Python:

- csv, tsv, txt, and family
- xls, xlsx
- SPSS, R, SAS, stata
- JSON
- SQL
- HDF5

# Now it's time to work with real data!

- the file is called imdb_top_10000.txt
- your boss wants you to "clean" up the file, whatever that means

### Handling a messy dataset called imdb_top_10000.txt

### Importing data for this class and beyond

- the main function you will use is panda's read_csv, which is very similar to other languages (such as R)
- crucial to understand and use all of the function's arguments correctly

[read_csv documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

Important arguments to read_csv:

- filepath (string): this is where you specify the filename (ie titanic.csv) or even a URL!
- sep (string): what separates the data? default is ',' for CSV
- header (int or list): specify the row number that contains the header (0 for 1st row)
- skiprows (int or list): skip a number of rows due to filler or unnecessary whitespace at the top of files
- index_col (int or list): specify which column is the unique row identifier (think: row name)
- names (list): specify the column names, usually as a list
- na_values (string or list): specify any words that may mean missing in advance, such as "N/A" or "missing"

In [2]:
import pandas as pd

We should first peak at the data. We can use the unix command `head` on OSX/Linux:

In [4]:
!head imdb_top_10000.txt

tt0111161	The Shawshank Redemption (1994)	1994	 9.2	619479	142 mins.	Crime|Drama
tt0110912	Pulp Fiction (1994)	1994	 9.0	490065	154 mins.	Crime|Thriller
tt0137523	Fight Club (1999)	1999	 8.8	458173	139 mins.	Drama|Mystery|Thriller
tt0133093	The Matrix (1999)	1999	 8.7	448114	136 mins.	Action|Adventure|Sci-Fi
tt1375666	Inception (2010)	2010	 8.9	385149	148 mins.	Action|Adventure|Sci-Fi|Thriller
tt0109830	Forrest Gump (1994)	1994	 8.7	368994	142 mins.	Comedy|Drama|Romance
tt0169547	American Beauty (1999)	1999	 8.6	338332	122 mins.	Drama
tt0499549	Avatar (2009)	2009	 8.1	336855	162 mins.	Action|Adventure|Fantasy|Sci-Fi
tt0108052	Schindler's List (1993)	1993	 8.9	325888	195 mins.	Biography|Drama|History|War
tt0080684	Star Wars: Episode V - The Empire Strikes Back (1980)	1980	 8.8	320105	124 mins.	Action|Adventure|Family|Sci-Fi

What sticks out about this dataset based on our view above? How is it structured? What does each column represent? Can we identify each row?

## Exercise: import imdb_top_10000 so it looks like `data` below:

Hints:

- think about what character separates each columns
- what does each row represent?

In [5]:
names = ['id', 'title', 'year', 'score', 'votes', 'length', 'genres']
data = pd.read_csv('../data/imdb_top_10000.txt', sep='\t', names=names, index_col=0)

In [6]:
data.head()

,title,year,score,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

### whenever we get a new dataset, good things to check:

- headers
- delimiters
- structure of columns
- data type issues
- missings
- rows x columns

### Importing from Excel

Notice we can select the sheet within the workbook!

- This reads in JUST the data itself

In [3]:
xlsx = pd.read_excel('../data/sales_data.xlsx', sheet='quantity')

In [4]:
xlsx.head()

   Q1  Q2  Q3  Q4
0  18  29  99  99
1  15  48  67  68
2  58  21  86  49
3  86  66  35  62
4  62   5  46  46

### Importing from other software

Check out the following links for importing from:

- [SAS](http://pandas.pydata.org/pandas-docs/stable/io.html#sas-formats)
- [stata](http://pandas.pydata.org/pandas-docs/stable/io.html#stata-format)
- [R](http://pandas.pydata.org/pandas-docs/stable/r_interface.html)

### Importing from SQL

Check out panda's [SQL capabilities](http://pandas.pydata.org/pandas-docs/stable/io.html#io-sql)

### Exporting to CSV

`dataframe_name.to_csv`

### Quick note on exporting data with to_csv

- path (string): the filename of the newly created csv
- sep (string): the delimiter, typically ',' which is the default
- na_rep (string): how to represent NA values, defaults as empty string
- header (boolean): whether to include the header
- index (boolean): whether to include row-names

[to_csv documentation](http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.to_csv.html)

In [7]:
data.to_csv('test.csv', header=True, index=True, sep=',')

### Let's do some practice

In [8]:
# try to guess what it's doing before executing
data[data.year > 1995].head()

,title,year,score,votes,length,genres
id,,,,,,
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller
tt0169547,American Beauty (1999),1999,8.6,338332,122 mins.,Drama
tt0499549,Avatar (2009),2009,8.1,336855,162 mins.,Action|Adventure|Fantasy|Sci-Fi

In [9]:
data[(data.year > 1995) & (data.year < 2000)].head()

,title,year,score,votes,length,genres
id,,,,,,
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt0169547,American Beauty (1999),1999,8.6,338332,122 mins.,Drama
tt0120338,Titanic (1997),1997,7.4,284245,194 mins.,Adventure|Drama|History|Romance
tt0167404,The Sixth Sense (1999),1999,8.2,278210,107 mins.,Drama|Mystery|Thriller

In [15]:
data[(data.year < 1970) | (data.year > 2005)].sort_values(by='score',ascending=False).head(20)

,title,year,score,votes,length,genres
id,,,,,,
tt0060196,"The Good, the Bad and the Ugly (1966)",1966,9.0,195238,161 mins.,Western
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller
tt0050083,12 Angry Men (1957),1957,8.9,148155,96 mins.,Drama|Mystery
tt0468569,The Dark Knight (2008),2008,8.9,555122,152 mins.,Action|Crime|Drama|Thriller
tt0064116,Once Upon a Time in the West (1968),1968,8.8,89764,175 mins.,Western
tt0047478,Seven Samurai (1954),1954,8.8,111707,207 mins.,Adventure|Drama
tt0047396,Rear Window (1954),1954,8.7,137663,112 mins.,Mystery|Romance|Thriller
tt0054215,Psycho (1960),1960,8.7,168286,109 mins.,Horror|Mystery|Thriller
tt0043014,Sunset Blvd. (1950),1950,8.7,64363,110 mins.,Drama|Film-Noir
tt0050825,Paths of Glory (1957),1957,8.6,52498,88 mins.,Crime|Drama|War
tt0057012,Dr. Strangelove or: How I Learned to Stop Worr...,1964,8.6,174723,95 mins.,Comedy|Drama
tt1832382,A Separation (2011),2011,8.6,11954,120 mins.,Drama
tt0053125,North by Northwest (1959),1959,8.6,106359,131 mins.,Adventure|Drama|Mystery|Romance|Thriller
tt0435761,Toy Story 3 (2010),2010,8.6,144200,103 mins.,Animation|Adventure|Comedy|Family|Fantasy
tt0910970,WALL\xb7E (2008),2008,8.5,229364,98 mins.,Animation|Adventure|Family|Romance|Sci-Fi
tt0042192,All About Eve (1950),1950,8.5,39729,138 mins.,Drama
tt1316540,The Turin Horse (2011),2011,8.5,1389,146 mins.,Drama
tt0052357,Vertigo (1958),1958,8.5,105551,128 mins.,Crime|Mystery|Romance|Thriller
tt0407887,The Departed (2006),2006,8.5,315448,151 mins.,Crime|Mystery|Thriller
tt0056592,To Kill a Mockingbird (1962),1962,8.5,93918,129 mins.,Crime|Drama|Mystery

In [13]:
data.sort_values(by='score').head(10)

,title,year,score,votes,length,genres
id,,,,,,
tt0270846,Superbabies: Baby Geniuses 2 (2004),2004,1.5,13196,88 mins.,Comedy|Family
tt0059464,Monster a-Go Go (1965),1965,1.5,3255,70 mins.,Sci-Fi|Horror
tt0364986,Ben & Arthur (2002),2002,1.5,4675,85 mins.,Drama|Romance
tt0421051,Daniel the Wizard (2004),2004,1.5,8271,81 mins.,Comedy|Crime|Family|Fantasy|Horror
tt1309000,Dream Well (2009),2009,1.5,2848,00 mins.,Comedy|Romance|Sport
tt0060666,Manos: The Hands of Fate (1966),1966,1.5,20927,74 mins.,Horror
tt0060753,Night Train to Mundo Fine (1966),1966,1.5,3542,89 mins.,Action|Adventure|Crime|War
tt0417056,Pledge This! (2006),2006,1.6,8362,91 mins.,Comedy
tt0057507,The Skydivers (1963),1963,1.6,2113,75 mins.,Drama
tt0058615,The Starfighters (1964),1964,1.6,1847,78 mins.,Drama

In [16]:
data.groupby(data['year'], sort=True)['score'].max().head()

year
1950    8.7
1951    8.3
1952    8.4
1953    8.3
1954    8.8
Name: score, dtype: float64

In [15]:
data[(data['year'] == 1950) & (data['score'] == 8.7)]

                         title  year  score  votes     length           genres
id
tt0043014  Sunset Blvd. (1950)  1950    8.7  64363  110 mins.  Drama|Film-Noir

### Exercises

- What was the highest scoring movie in 1966?
- What year(s) had the highest scores of all time?
- Show the movies with the 5 most votes
- What year in the 1960's had the highest score?

In [16]:
data[data['year'] == 1966].sort_values(by='score', ascending=False).head(1)

,title,year,score,votes,length,genres
id,,,,,,
tt0060196,"The Good, the Bad and the Ugly (1966)",1966,9.0,195238,161 mins.,Western

In [17]:
data[data['score'] == data['score'].max()]['year']

id
tt0111161    1994
tt0068646    1972
Name: year, dtype: int64

In [18]:
data.sort_values(by='votes', ascending=False).head(5)['title']

id
tt0111161    The Shawshank Redemption (1994)
tt0468569             The Dark Knight (2008)
tt0110912                Pulp Fiction (1994)
tt0068646               The Godfather (1972)
tt0137523                  Fight Club (1999)
Name: title, dtype: object

In [19]:
data[(data['year'] >= 1960) & (data['year'] <= 1969)].groupby(data['year'])['score'].max()

year
1960    8.7
1961    8.4
1962    8.5
1963    8.3
1964    8.6
1965    8.3
1966    9.0
1967    8.3
1968    8.8
1969    8.2
Name: score, dtype: float64