# Solutions to Lesson 2

## Lab 2 Solution

In [1]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..', 'assets', 'dataset', 'ozone.csv'))

In [2]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [4]:
for x in data.columns:
    print x

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [5]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [6]:
print len(data)

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [7]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [8]:
data.iloc[47, 0]

37.0

In [9]:
data.iloc[40:50,]

    Ozone  Solar.R  Wind  Temp  Month  Day
40   39.0    323.0  11.5    87      6   10
41    NaN    259.0  10.9    93      6   11
42    NaN    250.0   9.2    92      6   12
43   23.0    148.0   8.0    82      6   13
44    NaN    332.0  13.8    80      6   14
45    NaN    322.0  11.5    79      6   15
46   21.0    191.0  14.9    77      6   16
47   37.0    284.0  20.7    72      6   17
48   20.0     37.0   9.2    65      6   18
49   12.0    120.0  11.5    73      6   19

In [10]:
data.loc[47, "Ozone"]

37.0

How many missing values are in the Ozone column of this data frame?

In [15]:
print data['Ozone'].isnull().sum()
print len(data) - len(data['Ozone'].dropna())

37
37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [11]:
print data['Ozone'].mean()

42.1293103448

In [16]:
data.mean(axis=1)

0      51.900000
1      40.166667
2      42.600000
3      68.916667
4      20.075000
5      23.980000
6      67.933333
7      33.966667
8      20.350000
9      57.320000
10     20.780000
11     61.283333
12     65.700000
13     64.316667
14     29.033333
15     74.083333
16     73.500000
17     30.400000
18     75.916667
19     25.283333
20     17.283333
21     74.600000
22     21.283333
23     37.666667
24     33.920000
25     73.980000
26     24.250000
27     24.666667
28     71.150000
29     76.283333
         ...
123    61.816667
124    63.850000
125    60.633333
126    65.100000
127    41.733333
128    39.750000
129    63.150000
130    58.050000
131    59.150000
132    64.116667
133    65.983333
134    65.416667
135    61.883333
136    22.983333
137    38.583333
138    65.483333
139    58.133333
140    25.550000
141    61.383333
142    56.000000
143    59.600000
144    24.700000
145    49.716667
146    28.050000
147    24.600000
148    55.816667
149    54.240000
150    55.216667
151    45.166667
152    60.250000
dtype: float64

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of "Solar.R" in this subset?

In [17]:
print data[(data.Ozone > 31) & (data.Temp > 90)].head()

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30

In [18]:
print data[(data.Ozone > 31) & (data.Temp > 90)]['Solar.R'].mean()

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [19]:
print data[ data.Month==6 ].Temp.mean()
print data[ data.Month==6 ]['Temp'].mean()

79.1
79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [20]:
print data[ data.Month==5 ].Ozone.max()

115.0